body {
  background-color: #fff;
  height: 100vh;
}

.el:hover {
  color: greenyellow;
}

.check {
  width: 15px;
  height: 15px;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}
